@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-grey: 229, 228, 226;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgba: 242, 245, 249, 1;
  }
}

body {
  color: rgb(var(--foreground-rgba));
  background-color: rgb(var(--background-grey));
  font-family: Arial, sans-serif;
  /* margin: 20px; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
